para:
  jwt:
    secret: 7VjK8Xp2RmF9nQ4zL6hGtD3wYcSbE5uI0oP1aZxC7vN2jM4kH6fW8qA9sD3gY
    access-token-expire: 86400000
    refresh-token-expire: 86400000
  file:
    managed:
      root-path: /data/parabbs/avatar/
      public-base-url: https://nobeta.cn/bbs/i/avatar/
      avatar-max-size: 10485760
      max-size: 15728640
      expire: 2
    image:
      max-size: 15728640
  github:
    token: YOUR_GITHUB_TOKEN_HERE
  datasource:
    url: jdbc:mysql://1Panel-mysql-0Gie:3306/para_bbs?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: faramita_bbs
    password: 153246789#faramita
  redis:
    host: 127.0.0.1
    port: 6379
    password: 
    database: 0
    # 连接超时
    connect-timeout: 3000ms
    # 命令执行超时
    timeout: 3000ms

    # Lettuce 配置
    lettuce:
      pool:
        max-active: 16 # 最大连接数
        max-idle: 8 # 最大空闲连接
        min-idle: 4 # 最小空闲连接
        max-wait: 1000ms # 最大等待时间，超时报错
  elasticsearch:
    uris: http://localhost:9200
  rabbitmq:
    host: localhost
    port: 5672
    username: parabbs
    password: 123456
    virtual-host: /parabbs

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
