para:
  jwt:
    secret: ${PARA_JWT_SECRET}
    access-token-expire: ${PARA_JWT_ACCESS_TOKEN_EXPIRE:900} # 单位秒，15分钟
    refresh-token-expire: ${PARA_JWT_REFRESH_TOKEN_EXPIRE:604800} # 单位秒，7天
  file:
    managed:
      root-path: D:/Education/Project/Para BBS/Backend/resources/data/
      public-base-url: http://localhost:8080/bbs/i/
      avatar-max-size: 10485760
      max-size: 15728640  # 背景与封面最大上传15MB
      expire: 2  # 过期时间2h
    image:
      max-size: 15728640  # 最大上传15MB
  github:
    token: YOUR_GITHUB_TOKEN_HERE
  datasource:
    url: jdbc:mysql://localhost:3306/para_bbs?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: 123456
  redis:
    host: 127.0.0.1
    port: 6379
    password: 
    database: 0
    # 连接超时
    connect-timeout: 3000ms
    # 命令执行超时
    timeout: 3000ms

    # Lettuce 配置
    lettuce:
      pool:
        max-active: 16 # 最大连接数
        max-idle: 8 # 最大空闲连接
        min-idle: 4 # 最小空闲连接
        max-wait: 1000ms # 最大等待时间，超时报错
  elasticsearch:
    uris: http://localhost:9200
  rabbitmq:
    host: localhost
    port: 5672
    username: parabbs
    password: 123456
    virtual-host: /parabbs

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
