<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nobeta.bbs.module.file.mapper.FileMapper">
    <insert id="insertImage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO image_file (storage_key, public_url, user_id, purpose, expire_time)
        VALUES (#{storageKey}, #{publicUrl}, #{userId}, #{purpose}, #{expireTime})
    </insert>
    <select id="selectByUrlForUpdate" resultType="cn.nobeta.bbs.module.file.entity.ImageFile">
        SELECT id, storage_key, public_url, user_id, purpose, expire_time
        FROM image_file WHERE public_url = #{url} FOR UPDATE
    </select>
    <select id="selectByIdForUpdate" resultType="cn.nobeta.bbs.module.file.entity.ImageFile">
        SELECT id, storage_key, public_url, user_id, purpose, expire_time
        FROM image_file WHERE id = #{id} FOR UPDATE
    </select>
    <select id="selectExpiredImageIds" resultType="long">
        SELECT f.id FROM image_file f WHERE f.expire_time &lt;= #{now}
          AND NOT EXISTS (SELECT 1 FROM user_profile p WHERE p.avatar_url = f.public_url OR p.background_image_url = f.public_url)
          AND NOT EXISTS (SELECT 1 FROM blog b WHERE b.cover_url = f.public_url)
        ORDER BY f.id LIMIT 200
    </select>
    <select id="isReferenced" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM user_profile WHERE avatar_url = #{url} OR background_image_url = #{url})
            OR EXISTS(SELECT 1 FROM blog WHERE cover_url = #{url})
    </select>
    <delete id="deleteImage">DELETE FROM image_file WHERE id = #{id}</delete>
</mapper>
